* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;

}
input[type="text"] {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
}
button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: white;
}

ul {
    list-style-type: none;
}


ul li  {
    padding: 30px 30px 15px;
    border-bottom: 1px solid #ebebeb;

}
.block-spoiler table {
    width: 300px;  /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
}
.block-spoiler td {
    padding: 30px 30px 15px;
    vertical-align: top;
}

.books td p {
    padding: 5px;
}
.desc {
    padding-left: 40px;
}
.spoiler-text {
    display: none;
    font-style: italic;
}
.spoiler-tittle {
    width: 300px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.blue {
    color: #000099;
}

.book-name {
    font-family: RobotoBold;
    font-size: 30px;
    text-decoration: underline #e4e4e4;
}
.parser {
    margin-bottom: 20px;
}